.bg {
    z-index: -1;
    position: relative;

    &.bg-top {
        position: absolute;
    }

    &.bg-bottom {
        position: absolute;
        top: 0;
        right: 0;
    }

    &.bg-what-top {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;

        img {
            position: absolute;

        }
    }

    &.bg-what-bottom {
        position: absolute;
        bottom: -3px;
        right: 0;
        z-index: 0;
    }

    &.bg-future {
        position: absolute;
    }
}