.gradient{
    background: -webkit-linear-gradient(89.97deg, $liner1 1.56%, $liner2 103.42%);
                -webkit-background-clip: text;
                        background-clip: text;
                -webkit-text-fill-color: transparent;

}