p {
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    opacity: .4;

  }
}

button {
  cursor: pointer;
}

.show {
  display: contents !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -4%;

}