/**colors****/

$nav-link : #FFFFFF;
$liner1 : #AE67FA;
$liner2 : #F49867;

$text-color :#81AFDD;
$span-bn : #FF8A71;
$span-top : #71E5FF;
$reg-text: #0E0E0E;
$reg-h: #000000;
$reg-btn: #000000;

/***bg****/
$blue-bg : #042C54;
$body-bg :  #040C18;
$header-input : #052D56;
$btn-color: #FF4820;
$h-background: linear-gradient(89.97deg, $liner1 1.56%, $liner2 103.42%);
$reg-background: linear-gradient(89.97deg, $liner1 1.84%, $liner2 102.67%);
$footer-bg : #031B34;
/***font-weight****/
$weight-text : 400;

/****font*****/
$font-family : Manrope;